a{
    text-decoration: none;
}
.nav{
    text-align: center;
    margin: 0 auto;
    padding:0;
    margin-top:50px;
    margin-bottom: 50px;
}
.bt{
    width:200px;
}
.main{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ededed;
}
.this-page{
    background-color: #e9ecef;
    border:2px solid #93b5ec;
}
.row-top{
    margin-bottom: 10px;
}
#all-comment{
    padding-top:5px;
    padding-left:8px;
    display: none;
    width:90%;
    height:auto;
    margin-left:20px;
    background-color: #ededed;
}