a{
    text-decoration: none;
}
*{
    margin: 0;
    padding:0;
}
.nav{
    text-align: center;
    margin: 0 auto;
    padding:0;
    margin-top:50px;
    margin-bottom: 50px;
}
.bt{
    width:200px;
}
.main{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ededed;
}
.refresh{
    margin-bottom: 20px;
}
.row-top{
    margin-bottom: 10px;
}
.card-body-main{
    width:690px;
}
.col-sm-1 img{
    margin-right: 5px;
    width: 45px;
    height:45px;
}
.user-info{
    padding-top: 5px;
}
.time{
    font-size: 10px;
    margin-top: 2px;
}
.comment{
    margin-left: 20px;
    width: 90%;
}
#all-comment{
    display: none;
    width:100%;
    height:auto;
    margin-left:20px;
}
.load-more{
    margin-top: 20px;
}
.col-sm-1 a{
     color: #999;
 }
.user-imgs{
    width:306px;
    font-size:0;
}
.user-imgs img{
     margin-left:2px;
     margin-top: 2px;
     width:100px;
 }
.this-page{
    background-color: #e9ecef;
    border:2px solid #93b5ec;
}
